<template>
  <svg class="a2p-logo" viewBox="0 0 841.9 595.3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="st1" d="M367.6,529.5c-10.6-6.2-14.4-15.6-14.3-27.7c0.3-48-0.1-96,0.3-144c0.1-10.7-2-16.2-14.3-16
			c-13.5,0.2-25.9-5.4-36.8-13.1c-15.8-11.1-31.6-11.6-48.3-2.5c-8.5,4.7-17.1,9.2-26,13c-17.1,7.4-32.6-2.5-33-21.2
			c-0.8-32.5,17.4-54.4,41.6-72.5c19.5-14.6,42.3-23.4,64-34.2c7.9-3.9,15.7-8,23-12.8c14-9.1,22.3-21.3,18.4-38.9
			c-3.6-16.1-17.9-28.5-35.5-31.3c-30.9-4.8-47.2,4.2-59.5,32.9c-6.6,15.3-17.9,21.4-31.1,16.5c-12.7-4.7-17.6-17.7-12.5-33
			c13.6-40.8,48.5-65.5,91.3-64.8c43.2,0.7,79,25.3,90.6,62.1c11.5,36.4-1.1,70.7-34.4,94.6c-16.6,11.9-35.6,19.1-53.7,28.1
			c-3.4,1.7-6.8,3.6-12.7,6.8c18.5,3.9,32.5,11.8,46.7,19.6c7,3.9,13.5,4.1,17-5.2c4.6-12.5,16-17.6,27.2-17.9
			c34.3-0.8,68.8-4.1,102.8,1.8c45.9,7.9,76,50.4,71.9,99.1c-3.6,42.4-42.6,78.5-86.4,79.9c-14.8,0.5-25.5-7.9-27.4-21.3
			c-1.8-13,6.8-24,21.4-27.2c3-0.7,6.1-0.7,9.2-1.2c19.2-2.9,34.2-19.9,34.8-39.2c0.6-20.5-11.9-37.5-31.4-41.7
			c-19.6-4.3-39.5-1.7-59.3-2.1c-10.1-0.2-9.2,7.4-9.2,14c0,50.6,0,101.3,0,151.9c0,7.5-0.1,15-0.5,22.4
			c-0.6,10.9-5.6,19.3-15.3,24.6C377.8,533,373.7,531.2,367.6,529.5z" fill="#FF0000"/>
		<path class="st1" d="M611.1,110.3c0.5,7-3.7,13.1-8.6,18.9c-18.9,22.5-37.9,45.1-56.9,67.6c-1.1,1.3-2.3,2.6-3.6,3.9
			c-11,11.2-25.3,13-35.4,4.5c-11-9.3-11.8-23.6-1.2-36.4c16.6-19.9,33.6-39.5,50.5-59.1c5.4-6.3,10.5-13.1,16.7-18.6
			c7.5-6.8,16.7-7.5,25.9-3.3C607.6,91.9,611.1,99.6,611.1,110.3z" fill="#FF0000"/>
		<path class="st1" d="M488,143.1c0.6,16.7-7.7,27.7-20.2,29.6c-13.3,2.1-25-5.6-27.2-20.7c-3.4-22.6-4.9-45.4-7.1-68.2
			c-1-10.1-2.4-20.1-2.5-30.2c-0.2-15.4,8.7-25.5,21.9-26.4c13.4-0.9,24,7.8,25.7,22.8C482.3,81.9,485.1,113.9,488,143.1z" fill="#FF0000"/>
		<path class="st1" d="M568,262.4c-9.8,0-20.8-9-22.8-21.5c-1.9-11.7,6.8-24.2,20.3-26.7c12-2.2,24.4-2.6,36.7-3.5
			c21.1-1.5,42.1-3.2,63.2-3.7c15.2-0.4,24.1,8.2,24.8,21.6c0.7,13.5-8.4,24.7-22.7,25.9C635.5,257.4,603.5,259.6,568,262.4z" fill="#FF0000"/>
  </svg>
</template>

<style>
.a2p-logo {
  height: 180px;
}
</style>
